/*------Global Styles----------*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Roboto:400,700');

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #DBE5E1;
    font-family: 'Roboto', sans-serif;
   }
body{
    background: #feffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#feffff),to(#e5e5e5));
    background: linear-gradient(to bottom, #feffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.viewContainer{
    min-height:85vh;
}
p{
    margin-top:10px;
    margin-bottom: 10px;
}
a{
    color:#000;
}
a:hover{
    color:#c9302c;
}
h1,h2,h3,h4{
    font-family: 'Libre Baskerville', serif;
}
/*-------End Global Styles------*/

/*---------- Start Common Styles----------*/
.redTextHighlight{
    color:#c9302c;
}
.highlightText{
    color:#fff;
    font-weight: bold;
}
.highlightLink{
    color:#fff !important;
    font-weight:bold;
}
.highlightLink:hover,.highlightlink:active{
    color:#d9534f !important;
    font-weight: normal;
}
.content{
    background: #fff;
}
.body-content{
    margin-top:10px;
}
.guitarimg{
    width:150px;
    height:150px !important;
}
@media screen and (max-width:576px){
    .guitarimg{
        width:100px;
        height:100px !important;
    }
}
.guitarSpecialDetails{
    font-weight: bold;
    color:#c9302c;
}
.layoutNav{
    float:right;
}
/*---------- End Common Styles----------*/

/*--------------Grid Layout Style-----------*/
.gridContainer{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.guitarContent{
    border:1px solid #c9302c;
    margin:10px;
    padding:10px 10px 20px;
    position: relative;
}
.gridPurchaseInfo{
    position: absolute;
    bottom:10px;
    left:10px;
}
/*-------------End Grid Layout Style-------*/

/*----------Start List Page Style-----------------*/
.guitarListSeparator{
    border-bottom:1px solid #c9302c;
}
.listImgContainer{
    margin-top:20px;
}
/*----------End List Page Style-----------------*/

/*--------------Start Shop Now Page Style-------------*/
.breadcrumb a:hover{
    color: #fff;
}
.guitarCarousel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding:36px;
    position:relative;
}
.guitarCarousel .btn[disabled]{
    display:none;
}
.carouselBtnRight,.carouselBtnLeft{
    position: absolute; 
    top:45%;
}
.carouselBtnLeft{
    left:10px;
}
.carouselBtnRight{
    right:10px;
}
span.ng-enter,span.ng-move{
    -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  position:relative;
}

span.ng-enter.prev,span.ng-move.prev{
    left:-50px;
}

span.ng-enter.ng-enter-active.prev,span.ng-move.ng-move-active.prev{
    left:0px;
    
}
span.ng-enter.next,span.ng-move.next{
    right:-50px;
}

span.ng-enter.ng-enter-active.next,span.ng-move.ng-move-active.next{
    right:0px;
    
}
/*--------------End Shop Now Page Style-------------*/
/*-----Start Customer Info Form------*/
.form-group .exdate{
    margin-right:15px;
    margin-bottom: 0;
}
.form-group .haserror{
    border:2px solid #c9302c;
}
.form-group .haserror:focus{
    border:1px solid #66afe9;;
}
/*-----End Customer Info Form------*/
/*--------Star Bootstrap style override---------*/
.navbar,.navbar-inverse,.navbar-collapse{
    margin-bottom: 0;
    border-radius:0;
    border:0;
    background: #2B3033;
}
.nav-pills li>a:hover{
    background-color: transparent;
}
.nav-pills li>a.btn-danger:hover{
    background-color: #c9302c;
}
.breadcrumb{
    background-color: #d9534f;
    border-radius:0px;
}
.breadcrumb > li + li:before{
    color:#fff;
    font-weight: bold;
}

.panel-danger > .panel-heading{
    background:#d9534f;
    color:#fff;
    font-weight:bold;
}
.panel-title a:hover{
    color:#fff;
}
.thumbnail{
    border:1px solid #d9534f;
}
@media (min-width: 768px){
        .form-horizontal .control-label{
            text-align: left;
    }
}
.jumbotron .redTextHighlight{
    color:#c9302c;
}

/*--------End Bootstrap style override---------*/